name: Check Code Quality

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ruff:
    name: Lint ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install ruff
        run: pipx install ruff

      - name: Run riff
        run: ruff check .

  black:
    name: Lint Black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Black
        uses: psf/black@stable

  pytest:
    name: Run pytest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Modern Python → ubuntu-latest
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os:
          - ubuntu-latest
        # Old Python → only available on older Ubuntu
        include:
          - python-version: "3.6"
            os: ubuntu-20.04
          - python-version: "3.7"
            os: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Check Python version in uv
        run: uv run python --version

      - name: Install dependencies
        run: uv sync

      - name: Run pytest
        run: uv run pytest
