name: Check Code Quality

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ruff:
    name: Lint ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install ruff
        run: pipx install ruff

      - name: Run riff
        run: ruff check .

  black:
    name: Lint Black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Black
        uses: psf/black@stable

  pytest:
    name: Run pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync

      - name: Run pytest
        run: uv run pytest
